doctype 5
html
  head
    title melonJS Template
    link(rel='stylesheet' href='/css/game.css')
    meta(id='viewport', name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
  body
    #screen
    script(src='lib/melonJS-0.9.10-min.js')
    script(src='lib/plugins/debugPanel.js')
    script(src='js/mp.js')
    script(src='js/game.js')
    script(src='js/resources.js')
    script(src='js/entities/entities.js')
    script(src='js/entities/HUD.js')
    script(src='js/screens/title.js')
    script(src='js/screens/play.js')
    script(src='/socket.io/socket.io.js')

    script.
      window.onReady(function onReady() {
        var socket = io.connect();
        game.socket = socket;
        game.gameReady = function() {
          socket.emit('gameReady');
        }

        game.onload();

        if (me.device.isMobile && !navigator.isCocoonJS) {
          window.document.addEventListener("touchmove", function (e) {
            e.preventDefault();
            window.scroll(0, 0);
            return false;
          }, false);

          (function () {
            window.scrollTo(0, 1);
            me.video.onresize(null);
          }).defer();

          me.event.subscribe(me.event.WINDOW_ONRESIZE, function (e) {
            window.scrollTo(0, 1);
          });
        }
        
        socket.on('addPlayer', function (data) {
          console.log('adding new player', data);
          game.addEnemy(data);
        });

        socket.on('removePlayer', function (id) {
          game.removeEnemy({ id: id });
        });

        socket.on('addPlayers', function(players) {
          for(var id in players) {
            game.addEnemy(players[id]);
          }
        });
        
        socket.on('updatePlayerState', function(data) {
          game.updatePlayerState(data);
        });

        socket.on('fireBullet', function(source, target) {
          game.fireBullet(source, target);
        });
      });
