extends layout

block content
  h1= title
  p Welcome to #{title}

  iframe(src='http://nodeknockout.com/iframe/west-coast-hackers', frameborder='0', scrolling='no', allowtransparency='true', width='115', height='25')
  