html {
  background-color: #e2e2e2;
  margin: 0;
  padding: 0;
  height: 100%;
}

#title {
  margin-top: 0px;
  color: white;
}

body {
  background-image: url('/img/wild_oliva.png');
  background-color: #fff;
  color: #333;
  font-size: .85em;
  font-family: 'Lucida Console','Open Sans', "Segoe UI", Verdana, Helvetica, Sans-Serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.wrapper {
    height: 90%;
}

#score {
    float: left;
    width: 180px;
    min-height: 284px;
    background-color: #a32300;
    margin-top: -1px;
    padding: 8px;
    font-family: 'Lucida Console','Open Sans', "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #fff;
    font-weight: bold;
}

#score h4 {
  margin: 0px;
}

#screen {
  margin: 0px 20px;
  margin-left: 0px;
  clear: left;
  float: left;
}

#title {
  float: left;
  padding-top: 10px;
}

#individualScores {
    margin-bottom: 50px;
}

#settings {
    height: 42px;
}

#soundSwitch, #musicSwitch {
    margin-top: 10px;
}

#musicSwitch:link, #musicSwitch:active, 
#musicSwitch:visited, #soundSwitch:link,
#soundSwitch:active, #soundSwitch:visited {
    color: #fff;
    text-decoration: none;
}

#musicSwitch:hover, #soundSwitch:hover {
    color: #fff;
    text-decoration: underline;
}

#settings a:active, #settings a:visited {
    color: #a32300;
    text-decoration: none;
}

/* Footer */

footer {
  clear: both;
    text-align: center;
    padding: 40px 0px 0px 0px;
    color: #e2e2e2;
}

footer a:link, footer a:active, footer a:visited, footer a:hover {
    color: #e2e2e2;
}

footer h3 {
    margin: 0px;
    padding: 0px;
    color: #fff;
}

#container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: -ms-fit-content;
  width: fit-content;
  margin: auto;
}

#primer {
    background-color: #6d6d6d;
    width: 1400px;
    height: 603px;
}

#nameinput {
    clear: left;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#nameinput h2 {
    color: #fff;
}

#nameinput input {
  display: inline-block;
    width: 200px;
    height: 40px;
    font-size: 20px;
    font-family: 'Lucida Console','Open Sans', "Segoe UI", Verdana, Helvetica, Sans-Serif;
    text-align: center;
}

#nameinput a:link, #nameinput a:active, #nameinput a:visited {
  margin-top: 12px;
  display: inline-block;
  width: 200px;
  font-size: 20px;
  color: #fff;
  width: 200px;
  height: 40px;
  background-color: #a32300;
  padding: 8px 3px 0px 3px;
  text-align: center;
  text-decoration: none;
}

#nameinput a:hover {
    color: #a32300;
    background-color: #fff;
}