html {
  background-color: #e2e2e2;
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  background-image: url('/img/wild_oliva.png');
  background-color: #fff;
  color: #333;
  font-size: .85em;
  font-family: 'Lucida Console','Open Sans', "Segoe UI", Verdana, Helvetica, Sans-Serif;
  margin: 0;
  padding: 0;
  height: 100%;
}
body:before 
{ 
   content: "";
   position: fixed;
   top: -10px;
   left: 0;
   width: 100%;
   height: 10px;
   z-index: 100;
   -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
   -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
   box-shadow: 0px 0px 10px rgba(0,0,0,.8);
}

.wrapper {
    height: 90%;
    
    /* flexbox, por favor */
    display: -webkit-box;
    -webkit-box-orient:  horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
 
    display: -moz-box;
    -moz-box-orient: horizontal;
    -moz-box-pack: center;
    -moz-box-align: center;
  
    display: box;
    box-orient: horizontal;
    box-pack: center;
    box-align: center;
    
    display: -ms-flexbox;
    -ms-box-orient: horizontal;
    -ms-box-pack: center;
    -ms-box-align: center;
}

#screen {
    background-image: url('/img/title.png');
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 73px;
    height: 653px;
    width: 1200px;
    
    /* flexbox, por favor */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: end;
    -webkit-box-align: end;
 
    display: -moz-box;
    -moz-box-orient: vertical;
    -moz-box-pack: end;
    -moz-box-align: end;
  
    display: box;
    box-orient: vertical;
    box-pack: end;
    box-align: end;
    
    display: -ms-flexbox;
    -ms-box-orient: vertical;
    -ms-box-pack: end;
    -ms-box-align: end;    
}

#screen #settings {
    height: 42px;
    margin-top: 8px;
    padding-right: 30px;
}

#settings #musicSwitch:link, settings #musicSwitch:active, 
#settings #musicSwitch:visited, #screen #soundSwitch:link,
#screen #soundSwitch:active, #screen #soundSwitch:visited {
    background-color: #a32300;
    color: #fff;
    margin: 2px;
    padding: 5px;
    text-decoration: none;
}

#settings #musicSwitch:hover, #screen #soundSwitch:hover {
    background-color: #fff;
    color: #a32300;
    margin: 2px;
    padding: 5px;
    text-decoration: none;
}

#settings a:active, #settings a:visited {
    color: #a32300;
    text-decoration: none;
}

/* Footer */

footer {
    text-align: center;
    margin: 0px;
    padding: 0px;
    color: #e2e2e2;
}

footer h3 {
    margin: 0px;
    padding: 0px;
    color: #fff;
}

#primer {
    background-color: #6d6d6d;
    width: 1200px;
    height: 603px;
}

#primer #nameinput {
    width: 350px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
}

#nameinput h2 {
    color: #fff;
}

#nameinput input {
    width: 200px;
    height: 40px;
    font-size: 20px;
    font-family: 'Lucida Console','Open Sans', "Segoe UI", Verdana, Helvetica, Sans-Serif;
    text-align: center;
}

#nameinput a:link, #nameinput a:active, #nameinput a:visited {
    font-size: 20px;
    color: #fff;
    width: 200px;
    height: 40px;
    background-color: #a32300;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    text-decoration: none;
}

#nameinput a:hover {
    font-size: 20px;
    color: #a32300;
    width: 200px;
    height: 40px;
    background-color: #fff;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    text-decoration: none;
}